## **Submitted By: `Shreeyash Pardeshi`**

ðŸ’¡ **Question 1**

Given an integer `n`, return *`true` if it is a power of two. Otherwise, return `false`*.

An integer `n` is a power of two, if there exists an integer `x` such that `n == 2x`.

**Example 1:**
Input: n = 1

Output: true

**Example 2:**
Input: n = 16

Output: true

**Example 3:**
Input: n = 3

Output: false

In [66]:
def is_power_of_two(num):
    if num <= 0:
        return False
    while num % 2 == 0:
        num /= 2
    return num == 1

# Example 
print(is_power_of_two(1))    # True
print(is_power_of_two(16))   # True
print(is_power_of_two(3))    # False

True
True
False

ðŸ’¡ **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3

Output: 6

**Example 2:**

Input : 5

Output : 15

In [67]:
def sum_of_natural_numbers(n):
    return sum(range(1, n+1))

# Example 
print(sum_of_natural_numbers(3))   # 6
print(sum_of_natural_numbers(5))   # 15

6
15

ðŸ’¡ **Question 3**

Given a positive integer, N. Find the factorial of N.

**Example 1:**

Input: N = 5

Output: 120

**Example 2:**

Input: N = 4

Output: 24

In [68]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Example 
print(factorial(5))   # 120
print(factorial(4))   # 24

120
24

ðŸ’¡ **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :**

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

In [69]:
def exponent(num, power):
    if power == 0:
        return 1
    elif power % 2 == 0:
        return exponent(num*num, power//2)
    else:
        return num * exponent(num*num, power//2)

# Example 
print(exponent(5, 2))   # 25
print(exponent(2, 5))   # 32

25
32

ðŸ’¡ **Question 5**

Given an array of integers **arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

In [70]:
def max_element(arr):
    if len(arr) == 1:
        return arr[0]
    else:
        return max(arr[0], max_element(arr[1:]))

# Example 
print(max_element([1, 4, 3, -5, -4, 8, 6]))   # 8
print(max_element([1, 4, 45, 6, 10, -8]))     # 45

8
45


ðŸ’¡ **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

In [71]:
def nth_term_of_ap(a, d, n):
    return a + (n-1) * d

# Example 
print(nth_term_of_ap(2, 1, 5))   # 6
print(nth_term_of_ap(5, 2, 10))  # 23

6
23

ðŸ’¡ **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = â€œABCâ€*

***Output:***

*â€œABCâ€, â€œACBâ€, â€œBACâ€, â€œBCAâ€, â€œCBAâ€, â€œCABâ€*

**Example 2:**

***Input:***

*S = â€œXYâ€*

***Output:***

*â€œXYâ€, â€œYXâ€*

In [72]:
def permutations_of_string(s):
    if len(s) == 0:
        return []
    elif len(s) == 1:
        return [s]
    else:
        result = []
        for i in range(len(s)):
            current_char = s[i]
            remaining_chars = s[:i] + s[i+1:]
            for permutation in permutations_of_string(remaining_chars):
                result.append(current_char + permutation)
        return result

# Example 
print(permutations_of_string('ABC'))   # ['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']
print(permutations_of_string('XY'))    # ['XY', 'YX']

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']
['XY', 'YX']


ðŸ’¡ **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input : arr[] = {1, 6, 3}
Output : 18

In [73]:
def product_of_array_elements(arr):
    product = 1
    for element in arr:
        product *= element
    return product

# Example 
print(product_of_array_elements([1, 2, 3, 4, 5]))   # 120
print(product_of_array_elements([1, 6, 3]))         # 18

120
18